<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ampingat.ampingatapplication" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ampingat"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstFloorActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SecondFloorActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ThirdFloorActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".FourthFloorActivity"
            android:largeHeap="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".EapFireActivity"
            android:parentActivityName=".EapFireActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".EapEarthquakeActivity"
            android:parentActivityName=".EapEarthquakeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation" />
        <activity
            android:name=".SplashScreen"
            android:launchMode="singleTop" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".WelcomeActivity" >
        </activity>
        <activity
            android:name=".EmergencyReportActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
    </application>

</manifest>
