<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ampingat.ampingatapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ampingat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstFloorActivity"
            android:label="@string/title_activity_first_floor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SecondFloorActivity"
            android:label="@string/title_activity_second_floor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ThirdFloorActivity"
            android:label="@string/title_activity_third_floor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".FourthFloorActivity"
            android:label="@string/title_activity_fourth_floor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".EapFireActivity"
            android:label="@string/title_activity_eap_fire"
            android:parentActivityName=".EapFireActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
        <activity
            android:name=".EapEarthquakeActivity"
            android:label="@string/title_activity_eap_earthquake"
            android:parentActivityName=".EapEarthquakeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ampingat.ampingatapplication.MainActivity" />
        </activity>
    </application>

</manifest>
